* {
  font-size: 38px;
  text-decoration: none;
  color: black;
}
p:hover {
  color: red;
}
a:hover,
:active {
  color: blue;
  opacity: 50%;
}
.pic:link {
  color: red;
}
.pic:visited {
  color: red;
}
.div_empty:empty {
  background-color: red;
  height: 100px;
}
h2:target {
  opacity: 50%;
  color: red;
}
