* {
  font-size: 38px;
  text-decoration: none;
  color: black;
}
p:hover {
  color: red;
}
a:hover,
:active {
  color: blue;
  opacity: 50%;
}
.pic:link {
  color: red;
}
.pic:visited {
  color: red;
}
.div_empty:empty {
  background-color: red;
  height: 100px;
}
h2:target {
  opacity: 50%;
  color: red;
}
.Danhmuc {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  background-color: red;
}

li {
  list-style-type: none;
  padding: 10px;
}
div[class="DanhMuc"] a {
  color: white;
}
div[class="web"] li:hover {
  color: red;
}
